<div class="row">
  <div class="mainContent col-sm-8">
    <div class="jumbotron">
      <h1>MEAN Authentication App</h1>
      <p class="lead">
        Welcome to our custom MEAN authentication application built form scratch
      </p>
      <hr class="my-4">
      <p>By Solomon Kamanu Snr.</p>
      <p class="lead">
        <a class="btn btn-success btn-lg" routerLink="/register" routerLinkActive="active" role="button">Register</a>
        <a class="btn btn-primary btn-lg" routerLink="/login" routerLinkActive="active" role="button">Sign In</a>
      </p>
    </div>
  </div>
  <div class="col-sm-4 productDisplay">
    <h3>Loop through newly added products / items.. Near your location</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid cumque possimus saepe ea obcaecati quaerat eveniet quia
    temporibus nihil quidem, ab voluptatum perspiciatis molestiae provident debitis, ut labore perferendis consectetur!
    <h3>Loop through newly added products / items.. Nationwide avb for delivery</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid cumque possimus saepe ea obcaecati quaerat eveniet quia
    temporibus nihil quidem, ab voluptatum perspiciatis molestiae provident debitis, ut labore perferendis consectetur!
    <h3>Loop through newly added products / items.. Avb for delivery</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid cumque possimus saepe ea obcaecati quaerat eveniet quia
    temporibus nihil quidem, ab voluptatum perspiciatis molestiae provident debitis, ut labore perferendis consectetur!
  </div>
</div>