<div class="row">
  <div class="col">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/']">Coming soon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">
              Register
            </a>
          </li>
          <!-- <li class="nav-item">
            	<a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Contact</a>
          	</li> -->

          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                &nbsp;Shopping cart&nbsp;&nbsp;<span class="badge badge-info">-</span>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              User management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="active">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                &nbsp;Sign In
              </a>
              <a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;My Dashboard
              </a>
              <a class="dropdown-item" href="#" (click)="onLogoutClick()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                &nbsp;Sign Out
              </a>
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
  </div>
</div>